body {
    margin: 0;
    padding: 0;
    font-family: "Varela Round", sans-serif;
    font-weight: 400;
    font-style: normal;
    background-image: url("bg.jpg");
    background-size: 100%;
}
#container {
    background-color: rgba(0, 0, 0, 0.9);
    border: 2px solid #4a5052;
    border-radius: 30px;
    width: 50%;
    height: 330px;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    padding-top: 25px;
    color: white;
}
p {
    padding: 0;
    margin: 0px;
    margin-top: 4px;
    margin-left: 30px;
    font-size: 20px;
    font-weight: lighter;
}
#button {
    z-index: 100;
    width: 30px;
    height: 30px;
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translate(-50%);
    cursor: pointer;
}
#controls {
    width: 200px;
    height: 25px;
    position: absolute;
    left: 50%;
    transform: translate(-50%);
    bottom: 26px;
    display: flex;
    justify-content: space-between;
}
.control {
    width: 25px;
    height: 25px;
}
#stop {
   opacity: 0;
}
#play {
    opacity: 1;
}
.button {
    width: 100%;
    position: absolute;
}
#loadbar {
    background-color: #a3a3a3;
    width: 80%;
    height: 3px;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%);
}
#loadbar div {
    width: 0%;
    height: 100%;
    background-color: white;
}
.playing {
    animation: load 32s forwards linear;
}
@keyframes load {
    0% {
        width: 0%;
    }
    100% {
        width: 100%;
    }
}
